.controls {
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#searchBox {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin-bottom: 1em;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.filter-bar {
  margin-bottom: 2em;
}

.filter {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background: #2a2f4a;
  color: white;
}

.filter.active {
  background: #6fc3df;
  color: black;
}

.training-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: linear-gradient(to bottom right, #d4b5b5, #e6cce6);
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s ease;

  display: flex;
  flex-direction: column;
}

.card h3 {
  color: #2a2f4a;
}

.card p {
  color: #555;
  flex-grow: 1;
}

.card:hover {
  transform: translateY(-5px);
}

.badge {
  display: inline-block;
  margin-top: 10px;
  background: #2a2f4a;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.btn {
  display: block;
  margin-top: 10px;
  padding: 10px;
  border: none;
  background: #6fc3df;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}
